**1-Write a Python program to calculate the length of a string using 2 ways

In [2]:
name = input("please enter name:")
print(len(name))

please enter name:Mohamed
7

In [3]:
name = input("please enter name:")
count=0
for i in name:
    count+=1
print(count)    
pip install -U

please enter name:mohamed
7

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [6]:
string = input()
if len(string)<2:
    print("")
else:    
    print(string[0:2]+string[-2:])

mohamed
moed

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [10]:
name = input()
if len(name)<3:
    print(name)
else:
    if name[-3:]=="ing":
        
        print(name[:-3] + "ly")
    else:
        print(name+"ing")

playing
playly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [11]:
lis = ["Ahmed","mohamed","body","Andro"]
def returnword():
    max=0
    maxword=None
    for i in lis:
        if len(i)>max:
            max=len(i)
            maxword=i
    return  max , maxword
returnword()

(7, 'mohamed')

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [14]:
name=input()

print(name[-1:] + name[1:-1] + name[:1])

mohamed
dohamem

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [16]:
name=input()
name[0::2]

mohamedhany

'mhmday'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [22]:
word="amr and ahmed are frindes but amr is the tallest"
word1=word.split()
word1
for i in word1:
    print(i,word.count(i))

amr 2
and 1
ahmed 1
are 1
frindes 1
but 1
amr 2
is 1
the 1
tallest 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [23]:
name = input()
print(name.upper())
print(name.lower())

mohamed
MOHAMED
mohamed

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [30]:
string=input()
def reverse(string):
    if len(string) % 4 ==0:
        return ''.join(reversed(string))
    return string
print(reverse(string))

hany
ynah

**10- Write a Python program to remove a newline in Python

In [35]:
name = '''mohamed
hany
abdelatif'''
name1=name.replace("\n"," ")
name1

'mohamed hany abdelatif'

**11-Write a Python program to check whether a string starts with specified characters

In [36]:
name=input()
specific='M'
if name[0]==specific:
    print("yes")
else:
    print("no")

Mohamed
yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [40]:
prefex='''mohamed
andro
abdelrahmen'''
line=prefex.splitlines()
for i in line:
    print ("Eng:"+i)

Eng:mohamed
Eng:andro
Eng:abdelrahmen

**13-Write a Python program to print the following numbers up to 2 decimal places

In [45]:
number=1.4575895
round(number,2)

1.46

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [46]:
number=1.4575895
num=str(number)
print(num[0:4])

1.45

**15-Write a Python program to display a number with a comma separator

In [48]:
num=3.4
num1=str(num)
number=num1.replace(".",",")
number

'3,4'

**16-Write a Python program to reverse a string using 2 ways

In [49]:
string=input()
''.join(reversed(string))

mohamed

'demahom'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [60]:
name="mohamedhany"
ls =[]
for i in name:
    ls.append(i)
dic = dict()
for i in ls:
    dic[i]=name.count(i)
dic

{'m': 2, 'o': 1, 'h': 2, 'a': 2, 'e': 1, 'd': 1, 'n': 1, 'y': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [61]:
stri = "aabbvvcww"
for i in stri:
    if stri.count(i)==1:
        print(i)

c

**19-Write a Python program to remove spaces from a given string

In [63]:
name= '''ali
mohamed
hany'''
n=name.replace("\n"," ")
n

'ali mohamed hany'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [65]:
def substring (str):
    string=len(str)
    return int (string*(string-1)/2)
substring("mohamed")

21

**21-write a Python program to swap first and last element of any list.

In [66]:
l = ["ahmed","omar","taha","mohamed"]
l[-1],l[0]=l[0],l[-1]
l

['mohamed', 'omar', 'taha', 'ahmed']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [72]:
lis=[23,65,19,90]
pos1=int(input())
pos2=int(input())
lis[pos1-1],lis[pos2-1]=lis[pos2-1],lis[pos1-1]
print (lis)

1
4
[90, 65, 19, 23]

**23- search for the all ways to know the length of the list**

In [78]:
List = [1,2,3,4,5,6,5,3,1]
lis=len(List)
print(lis)
count=0
for i in List:
    count+=1
print(count)

9
9

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [79]:
List = [1,2,3,4,5,6,5,3,1]
max(List)

6

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [80]:
List = [1,2,3,4,5,6,5,3,1]
min(List)

1

**26-search for if an elem is existing in list

In [4]:
name =["ahmed","hamed","mohamed","hany"]
element=input()
if element in name:
    print("yes")
else:
    print("No")

mohamed
yes

**27- clear python list using different ways

In [11]:
List = [1,2,3,4,5,6]
List.clear()
List

[]

**28-remove duplicated elements from a list

In [1]:
List = [1,2,3,4,4,5,6,1,2,3,5,6]
l=set(List)
l=list(l)
l

[1, 2, 3, 4, 5, 6]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [3]:
test_list = ["Gfg", 3, "is", 8,]
key_list = ["name", "number"]
n = len(test_list)
res = []
for idx in range(0, n, 2):
    res.append({key_list[0]: test_list[idx], key_list[1] : test_list[idx + 1]})
print("The constructed dictionary list : " + str(res))

The constructed dictionary list : [{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
lis=[1,2,3,4,5,3,4,5,32,2,3,4,3]
l=set(lis)
li=len(l)
li

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [2]:
List = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k =int(input())
l=[]
for i in List:
    freq=List.count(i)
    if freq > k and i not in l:
        l.append(i)
print(l)

3
[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [5]:
n = int(input("please enter lenght for list:"))
def strong(l,n):
    for i in range(0,n+1):
        if l[i]<l[i+1]:
            l.pop(i)
            print(l)
            break
        else:
            print(l)
l=[1 ,2 ,2 ,3 ,4 ,5]          
strong(l,n)

please enter lenght for list:6
[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [6]:
def comb(L): 
    for i in range(3):
        for j in range(3):
            for k in range(3):
                if (i!=j and j!=k and i!=k):
                    print(L[i], L[j], L[k])                     
comb([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [7]:
from itertools import combinations

List = [1, 2, 3]
list_combinations = list()

for n in range(len(List) + 1):
    list_combinations += list(combinations(List, n))

print(list_combinations)

[(), (1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [13]:
List_1 = ["a","b"] 
List_2 = [1,2]
l=[]
for i in List_1:
    for j in List_2:
        print (i,j)

a 1
a 2
b 1
b 2

In [14]:
import itertools
from itertools import permutations
 

list_1 = ["a","b"]
list_2 = [1,2]

unique_combinations = []

permut = itertools.permutations(list_1, len(list_2))

for comb in permut:
    zipped = zip(comb, list_2)
    unique_combinations.append(list(zipped))
 

print(unique_combinations)

[[('a', 1), ('b', 2)], [('b', 1), ('a', 2)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [13]:

List=[ 1, 1, 2, 3, 4, 5, 1, 2,1]
item=1
l=[]

for i in List:
    if i!=item:
        l.append(i)
        
print(l)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [21]:
list1= ['Gfg', 'is','best']
list2 =  [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
List=[]
for i in list2:
    if i==0:
        i=list1[0]
        List.append(i)
    elif i==1:
        i=list1[1]
        List.append(i)
    else:
        i = list1[2]
        List.append(i)
   
            
print (List)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [36]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
k=int(input())
N=int(input())
l=[]
for i in test_list:
    if i.count(k)==N:
        l.append(i)
print(l)

5
3
[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [54]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
i=int(input())
sorted_array=sorted(array, key=lambda index : index[i])
sorted_array

1

[[2, 1, 2], [3, 2, 1], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [63]:
myDict = {'ravi': 10, 'rajnish': 9,
        'sanjeev': 15, 'yash': 2, 'suraj': 32}
 
myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}
 
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [79]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
k=int (input())
res = {}
for key in test_dict:
    if not (isinstance(test_dict[key], int) and test_dict[key] > k):
        res[key] = test_dict[key]
         
print(res)

7
{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [89]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60} 
d = {**dic1, **dic2, **dic3}
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [90]:
dic1={1:10, 2:20}
for key , value in dic1.items():
    print(key,value)

1 10
2 20

**44- Write a Python script to merge two Python dictionaries

In [94]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
def Merge(dic1,dic2):
    return dic2.update(dic1)
print (Merge(dic1,dic2))
print(dic2)

None
{3: 30, 4: 40, 1: 10, 2: 20}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [96]:
dic={1:10, 2:20,3:30, 4:40}
def minmum(dic):
    min=10000000
    for key , value in dic.items():
        if value < min:
            min=value
    return  min     
def maximum(dic):
    max=0
    for key,value in dic.items():
        if value>max:
            max=value
    return max
print(minmum(dic))
print(maximum(dic))

10
40

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [119]:
dic={'c1': 'Red', 'c2': 'Green', 'c3': None} 
dic1={}
for key , value in dic.items():
    if value != None:
        dic1[key]=value
dic1

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [120]:
mh=(1,2,3,4,5,5,6,7,8,8)
print(mh[0])

1

**48-Write a Python program to unpack a tuple into several variables

In [122]:
A=("mohamed",20000,"AIEngineering")
(name,salary,work)=A
print(name)
print(salary)
print(work)

mohamed
20000
AIEngineering

**49-Write a Python program to add an item to a tuple

In [130]:
mh=(1,2,3,4,5,5,6,7,8,8)
mh =list(mh)
mh.append(10)
mh =tuple(mh)
mh

(1, 2, 3, 4, 5, 5, 6, 7, 8, 8, 10)

**50-Write a Python program to convert a tuple to a string

In [137]:
mh=('m','o','h','a','m','e','d')
st=''
for i in mh:
    st=st+i
    
st

'mohamed'

**51-Write a Python program to convert a list to a tuple

In [138]:
list1=[1,2,3,4,5,6,7]
mh=tuple(list1)
mh

(1, 2, 3, 4, 5, 6, 7)

**52-Write a Python program to reverse a tuple

In [149]:
mh=('m','o','h','a','m','e','d')
mh1=''
for i in mh:
       mh1=mh1+i
mh1=''.join(reversed(mh1))
mh=tuple(mh1)
mh

('d', 'e', 'm', 'a', 'h', 'o', 'm')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [161]:
List= [(10, 20, 40), (40, 50, 60), (70, 80, 90)] 
for i in List:
        print(i[:-1]+(100,))

(10, 20, 100)
(40, 50, 100)
(70, 80, 100)

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [151]:
st='python3.0'
mh=tuple(st)
mh

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [163]:
mh =(1,2,3,4,5)
sum=0
count=0
for i in mh:
    sum=sum+i
    count+=1
avg=sum / count
print(avg)

3.0

**56-Write a Python program to add member(s) to a set.

In [168]:
s={1,2,3,4,5}
s.add(6)
s.
s

{1, 2, 3, 4, 5, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [172]:
s={1,2,3,4,5}
j=int(input())
if j in s:
    s.remove(j)
s

5

{1, 2, 3, 4}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [176]:
s={1,2,3,4,5}
s1={6,7,8,9,10,5}
print(s.intersection(s1))
print(s.difference(s1))
print(s.symmetric_difference(s1))
print(s.union(s1))

{5}
{1, 2, 3, 4}
{1, 2, 3, 4, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**59-Write a Python program to find the maximum and minimum values in a set

In [178]:
s={1,2,3,4,5}
def minmum (s):
    min=1000000
    for i in s:
        if i < min:
            min= i
    return min
def maximum (s):
    max=0
    for i in s:
        if i > max:
            max= i
    return max
print(minmum(s))
print(maximum(s))

1
5

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [185]:
list1=[2,3,4,5]
list2=[3,4,5,6]
target=8
l=[]
for i in range(len(list1)):
    for j in range(len(list2)):
        if list1[i]+list2[j]==target:
            l.append((list1[i],list2[j]))
            
print(l)

[(2, 6), (3, 5), (4, 4), (5, 3)]